@import url("https://fonts.googleapis.com/css?family=Open+Sans:600");

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: "Open Sans", sans-serif !important;
}

header {
  box-shadow: none !important;
}

.full-desktop-height {
  background: #ffffff;
  height: 100vh;
}

.text--purple {
  color: hsl(300, 100%, 25%);
}

.center {
  text-align: center;
}

.button-purple {
  background-color: hsl(300, 100%, 25%) !important;
  color: #ffffff !important;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

#homepage {
  margin-top: 100px;
  padding: 80px;
  padding-top: 40px;
}

#lastpage {
  margin-top: 150px;
  padding: 40px;
}

.MuiStepIcon-root-51.MuiStepIcon-completed-54,
.MuiStepIcon-root-51.MuiStepIcon-active-53 {
  color: hsl(300, 100%, 25%) !important;
}

.MuiStepLabel-label-43 {
  color: #ffffff !important;
}

.MuiOutlinedInput-root-133.MuiOutlinedInput-focused-134 .MuiOutlinedInput-notchedOutline-140 {
  border-color: hsl(300, 100%, 25%) !important;
}

.flex-column-center {
  /* width: 500px; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  /* text-align: center */
}

.bold {
  font-weight: bold !important;
}

#header {
  padding: 30px;
}

/* Media Queries */
@media (max-width: 450px) {
  #homepage {
    padding: 15px;
  }

  #header {
    padding: 5px;
  }

  .large-text {
    font-size: 2rem !important;
  }
}
